on boot
    # Wacom
    chown system system /sys/class/sec/sec_epen/input/enabled
    chmod 0660 /sys/class/sec/sec_epen/input/enabled
    chown system radio /sys/class/sec/sec_epen/epen_firm_update
    chown system radio /sys/class/sec/sec_epen/epen_reset
    chown system radio /sys/class/sec/sec_epen/epen_reset_result
    chown system radio /sys/class/sec/sec_epen/epen_checksum
    chown system radio /sys/class/sec/sec_epen/epen_checksum_result
    chown system radio /sys/class/sec/sec_epen/epen_saving_mode
    chown system radio /sys/class/sec/sec_epen/epen_wcharging_mode
    chown system radio /sys/class/sec/sec_epen/epen_ble_charging_mode
    chown system radio /sys/class/sec/sec_epen/keyboard_mode
    chown system radio /sys/class/sec/sec_epen/epen_disable_mode
    chown system radio /sys/class/sec/sec_epen/aod_enable
    chown system radio /sys/class/sec/sec_epen/aod_lcd_onoff_status
    chown system radio /sys/class/sec/sec_epen/screen_off_memo_enable
    chown system radio /sys/class/sec/sec_epen/dex_enable
    chown system radio /sys/class/sec/sec_epen/epen_fac_garage_mode
    chown system radio /sys/class/sec/sec_epen/epen_fac_select_firmware
    chown system system /sys/class/sec/sec_epen/abnormal_reset_count
    chown system system /sys/class/sec/sec_epen/i2c_fail_count
    chown system system /sys/class/sec/sec_epen/pen_out_count
